streamlit
plotly
groq==1.2.0
google-generativeai
openai
edge-tts
pydub
moviepy
opencv-python
pillow
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
requests
beautifulsoup4
yt-dlp
langdetect
APScheduler
schedule
python-dotenv
loguru
rich
tqdm
pydantic